<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Email</title>
  </head>
  <body>
    <div>Bienvenue sur conso-epargne chèr(e) <b th:text="${firstName}"></b></div>

    <div>Votre code pin est: <h1 th:text="${password}"></h1></div>

    <div>Notez que ceci est une version de test de l'envoie des emails</div>
  </body>
</html>